{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block head %}
  {{ super() }}
  <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 300px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  </style>
{% endblock %}
{% block content %}
  <h3>user management</h3>
  <br>
  <table>
    <tr>
      <th>username</th>
      <th>role</th>
    </tr>
    {% if users %}
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.role }}</td>
        </tr>
        {{ card }}
      {% endfor %}
    {% endif %}
  </table>
  <br>
  <h2>set role</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}<li class="{{ category }}">{{ message }}</li>{% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="" method="post">
    <input type="text" placeholder="Username" name="username" value="" required>
    <label for="pet-select">role:</label>
    <select name="role" id="pet-select" required>
      <option value="admin">admin</option>
      <option value="manager">manager</option>
      <option value="analyst">analyst</option>
      <option value="user">user</option>
    </select>
    <input type="submit" name="set_role" value="Send">
  </form>
{% endblock %}
