{% extends "layout.html" %}
{% block title %}Tickets{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
<main>
  <h3>tickets</h3>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}<li class="{{ category }}">{{ message }}</li>{% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <table class="table table-striped table-bordered">
    <tr>
      <th>from</th>
      <th>to</th>
      <th>text</th>
      <th>status</th>
      <th>new_status</th>
      {% if session["role"] == "admin" %}<th>assign</th>{% endif %}
    </tr>
    {% if tickets %}
      {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.from_user }}</td>
          <td>{{ ticket.role }}</td>
          <td>{{ ticket.text }}</td>
          <td>{{ ticket.status }}</td>
          <td>
            
            <form class="row row-cols-lg-auto g-3 align-items-center" action="{{ url_for("tickets.set_status") }}" method="post">
              <input type="hidden" name="id" value="{{ ticket.id }}">
              <div class="col-12">
              <select class="form-select form-select-sm" name="status" required>
                <option value="pending">pending</option>
                <option value="review">in review</option>
                <option value="closed">closed</option>
              </select>
              </div>
              <div class="col-12">
              <button class="btn btn-sm btn-primary" type="submit">Set</button>
              </div>
            </form>
          </td>
          {% if session["role"] == "admin" %}
            <td>
              <form class="row row-cols-lg-auto g-3 align-items-center" action="{{ url_for("tickets.assign_ticket") }}" method="post">
                <input type="hidden" name="id" value="{{ ticket.id }}">
               <div class="col-12">
               <select class="form-select form-select-sm" name="target" required>
                  <option value="admin">admin</option>
                  <option value="manager">manager</option>
                  <option value="analyst">analyst</option>
                </select>
                </div>
<div class="col-12">
                <button class="btn btn-sm btn-primary" type="submit">Assign</button>
                </div>
              </form>
            </td>
          {% endif %}
        </tr>
        {{ card }}
      {% endfor %}
    {% endif %}
  </table>
  </main>
{% endblock %}
